body{
    font-family: "Bubblegum Sans";  
    margin: auto 0;
    border-width: solid black;
    padding: 0;
    background: linear-gradient(to left, #F4E9C8 0%, #B4AD98 100%);

}


/*NAVBAR*/


.cards{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: space-around;
    margin-top: 20px;

}
